@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*Carrusel publicaciones o promocionales*/
#carouselExampleRide{
  margin: 0;
  padding: 0;
}
/*Carrusel de productos*/
.titleProductCarousel{
    color: #B67352;
    font-size: 3vw;
}
.prductsCarouselCardBody,.titleProductCarousel{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.productCard {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: 15px;
  
  }
  .productImage{
      border: none;
      border-radius: 10px;
      width: auto; 
      height: 290px ;
  } 
  /* Le da forma a las card dentro del carrusel */
@media (min-width:2960px){
    .carouselInner .productCarousel-item > div{
        display: none;
    }
    .carouselInner .productCarousel-item > div:first-child{
        display: block;
    }
}
.carouselInner .carousel-item.active,
.carouselInner .carousel-item-next,
.carouselInner .carousel-item-prev{
    display: flex;
}
@media (max-width: 2959px) {
    .productCard {
        border: none;
        border-radius: 10px;
        width: 300px;
        height: 400px;
        padding: 10px;
        margin: 0;
      
      }
      .productImage{
          border: none;
          border-radius: 10px;
          width: auto; 
          height: 250px ;
      } 
      .carouselInner .carousel-item-end.active,
      .carouselInner .carousel-item-next {
        transform: translateX(23%);
      }
      
      .carouselInner .carousel-item-start.active, 
      .carouselInner .carousel-item-prev {
        transform: translateX(-23%);
      }

  .carouselInner .carousel-item-end,
  .carouselInner .carousel-item-start { 
    transform: translateX(0);
  } 
}
@media (max-width: 1400px) {
  .productCard {
      border: none;
      border-radius: 10px;
      width: 300px;
      height: 400px;
      padding: 10px;
      margin: 0;
    
    }
    .productImage{
        border: none;
        border-radius: 10px;
        width: auto; 
        height: 250px ;
    } 
    .carouselInner .carousel-item-end.active,
    .carouselInner .carousel-item-next {
      transform: translateX(26.5%);
    }
    
    .carouselInner .carousel-item-start.active, 
    .carouselInner .carousel-item-prev {
      transform: translateX(-26.5%);
    }

.carouselInner .carousel-item-end,
.carouselInner .carousel-item-start { 
  transform: translateX(0);
} 
}
@media (max-width: 992px) {
  .productCard {
      border: none;
      border-radius: 10px;
      width: 350px;
      height: 400px;
      padding: 10px;
      margin: 0;
    
    }
    .productImage{
        border: none;
        border-radius: 10px;
        width: auto; 
        height: 250px ;
    } 
    .carouselInner .carousel-item-end.active,
    .carouselInner .carousel-item-next {
      transform: translateX(50%);
    }
    
    .carouselInner .carousel-item-start.active, 
    .carouselInner .carousel-item-prev {
      transform: translateX(-50%);
    }

.carouselInner .carousel-item-end,
.carouselInner .carousel-item-start { 
  transform: translateX(0);
} 
}

 
.arrow:hover {
    background: rgba(255, 255, 255, 0.299) ;
    cursor: pointer;
}


@media (max-width:760px) {
  .titleProductCarousel{
    font-size: 5vw;
}
  .productCarousel{
    width:90vw;
    margin: 0;
    padding: 0;
  }
    .productCard {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        width: 45vw;
        height: 300px;
        padding: 0 5vw ; 
        margin: 0;     
      }
      .productImage{
          border: none;
          border-radius: 10px;
          width: fit-content; 
          height: 170px ;
      } 
      .carouselInner .carousel-item-end.active,
      .carouselInner .carousel-item-next {
        transform: translateX(100%);
      }
      
      .carouselInner .carousel-item-start.active, 
      .carouselInner .carousel-item-prev {
        transform: translateX(-100%);
      }

  .carouselInner .carousel-item-end,
  .carouselInner .carousel-item-start { 
    transform: translateX(0);
  } 

}
@media (max-width: 450px) {
  .titleProductCarousel{
    font-size: 7vw;
}
  .productCarousel{
    width:90vw;
    margin: 0;
    padding: 0;
  }
    .productCard {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        width: 300px;
        height: 260px;
        margin: 0 10vw;      
      }
      .productImage{
          border: none;
          border-radius: 10px;
          width: fit-content; 
          height: 170px ;
          margin: 0;
          padding: 0;
      } 
      .carouselInner .carousel-item-end.active,
      .carouselInner .carousel-item-next {
        transform: translateX(100%);
      }
      
      .carouselInner .carousel-item-start.active, 
      .carouselInner .carousel-item-prev {
        transform: translateX(-100%);
      }

  .carouselInner .carousel-item-end,
  .carouselInner .carousel-item-start { 
    transform: translateX(0);
  } 

}

/*Carrusel de comentarios*/
