
nav.bg-header, #navbarSuperior {
  background-color: #8cb9bd;
}

.bg-header2 {
  background-color: #b67352;
}

form.d-flex {
  position: relative;
}

form .btn-search {
  background: #b67352;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 15px;
  border-radius: 0 15px;
}

div a i {
  padding: 10px;
  font-size: 30px;
  color: #b67352;
}

.img-header {
  background-image: url(../img/img-header-nosotros.png);
  padding: 100px;
  text-align: center;
  background-size: cover;
}

main section h4 {
  margin-top: 15px;
  text-align: center;
}

main section div.contenido-mision-vision{
  display: flex;
  background-color: #FEFBF6;
  border: 2px solid #b67352;
  margin: 15px;
  border-radius: 10px;
  padding: 0px 10px 0px 0;
}

main section div.encabezado-mision-vision{
  background-color: #b67352;
  border: 2px solid #b67352;
  border-radius: 10px 0 0 10px;
}

.bg-atributos{
  background-color: #b67352;
}


section.contactanos-nosotros {
  text-align: center;
  padding: 30px;
  background-color: #b67352;
}

section.img-final-nosotros {
  background-image: url(../img/imagen_con_frase-al-final-de-pag-nosotros.png);
  background-size: cover

}

div.texto-imagen-final-nosotros {
  text-align: center;
  padding: 250px 0;
  width: 405px;
}

@media (max-width: 991px){
  #botonBusqueda{
    width: fit-content;
    border: none;
    padding: 0;
    margin: 5px 0 0 10px;   

  }
  i.fa-solid{
    width: 5vw;
    height: auto;
    padding: 0;
    margin: 0;    
  }
}

/*
 *Carousel
 */
 nav.bg-header, #navbarSuperior {
  background-color: #8cb9bd;
}

.bg-header2 {
  background-color: #b67352;
}

form.d-flex {
  position: relative;
}

form .btn-search {
  background: #b67352;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 15px;
  border-radius: 0 15px;
}

div a i {
  padding: 10px;
  font-size: 30px;
  color: #b67352;
}

.img-header {
  background-image: url(../img/img-header-nosotros.png);
  padding: 100px;
  text-align: center;
  background-size: cover;
}

main section h4 {
  margin-top: 15px;
  text-align: center;
}

main section div.contenido-mision-vision{
  display: flex;
  background-color: #FEFBF6;
  border: 2px solid #b67352;
  margin: 15px;
  border-radius: 10px;
  padding: 0px 10px 0px 0;
}

main section div.encabezado-mision-vision{
  background-color: #b67352;
  border: 2px solid #b67352;
  border-radius: 10px 0 0 10px;
}

.bg-atributos{
  background-color: #b67352;
}


section.contactanos-nosotros {
  text-align: center;
  padding: 30px;
  background-color: #b67352;
}

section.img-final-nosotros {
  background-image: url(../img/imagen_con_frase-al-final-de-pag-nosotros.png);
  background-size: cover

}

div.texto-imagen-final-nosotros {
  text-align: center;
  padding: 250px 0;
  width: 405px;
}

@media (max-width: 991px){
  #botonBusqueda{
    width: fit-content;
    border: none;
    padding: 0;
    margin: 5px 0 0 10px;   

  }
  i.fa-solid{
    width: 5vw;
    height: auto;
    padding: 0;
    margin: 0;    
  }
}

/*Testimonios*/
article {
	background: #b67352;
	height: 70vh;
	font-family: 'Poppins', sans-serif;
  
}
.container {
	margin-top: 15%;
 
}
.card {
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;  
    margin-top: 75px;
}

.card .box {
    position: absolute;
    color: #262626;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #fff;
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
}
.card .box.front{
    background-image: url(../img/Fondo-de-pagina-huellitas.png);
    background-repeat: repeat;
    
}
.card .box.front,
.card .box.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .box.front img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid #262626;
	margin-bottom: 25px;
}

.card:hover .box.front {
    transform: rotateY(180deg);
}
.box.front h2 {
	font-family: 'Bebas Neue', cursive;
}
.box.front h4 {
	font-size: 18px;
	letter-spacing: 2px;
}
.socials i {
	margin: 0 15px;
}
.card .box.back {
    position: absolute;
    background: #fff;
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .box.back .fa-quote-left {
	position: absolute;
	top: 25px;
	left: 180px;
	font-size: 3.2rem;
}

.card:hover .box.back {
    transform: rotateY(360deg);
}

article h2{
  font-size: 1rem;
}



@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}