@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
#title-table{
    background-color: #8cb9bd;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
}
main{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
#footer-table{
    background-color: #8cb9bd;
    font-size: 22px;
}

#footer-total{
    background-color: #8cb9bd;
    font-size: 22px;
}
.productInCarTxt{

    font-size: 16px;
    font-weight: 600;
    font-style: bold;
    align-content: center;

}
.btnProduct{

  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;

  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 5px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;


}

.btnProduct:hover,
.btnProduct:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.btnProduct:hover {
  transform: translateY(-1px);
}

.btnProduct:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.tabla-personalizada {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #000;
    border-radius: 30px;
}


.tabla-personalizada tbody th {
    background-color: #ffe8ce;
}

.tabla-personalizada td {
    background-color: #ffe8ce;
}

.table-recuento th{
    background-color: #b67352;
    color: white;
}

.table-recuento td{
    background-color: #b67352;
}

.imgProduct{
    width: 180px;
}

#div-donar{
    background-color: #b67352;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#div-donar button{
    background: #ECB159;
    border: none;
    border-radius: 30%;
    margin: 8px;
}

#boton-pago{
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}
#total{
    color: white;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
}
#emptyCar{
    background-image: url(../img/carrito-vacio.png);
    background-repeat: no-repeat;
    background-size: 500px 100%; 
    background-position: center; 
    background-color:#F0F0F0;
    width:100%; height:500px; 
}

@media screen and (max-width: 900px) {
    .imgProduct{
        width: 80px;
    }
}
@media screen and (max-width: 1080px) {
    #emptyCar{
        background-image: url(../img/carrito-vacio.png);
        background-repeat: no-repeat;
        background-size: 390px 100%; 
        background-position: center top; 
        background-color:#F0F0F0;
        width:100%; height:390px; 
    }
}
@media screen and (max-width: 500px) {
    #emptyCar{
        background-image: url(../img/carrito-vacio.png);
        background-repeat: no-repeat;
        background-size: 290px 100%; 
        background-position: center top; 
        background-color:#F0F0F0;
        width:100%; height:290px; 
    }
}