:root{
    --color-fondo-formulario: #B67352;
    --color-amarillo:#ECB159;
    --letras-form: white;
}

body{
    background-image: url(../img/Fondo-de-pagina-huellitas.png);
}


.formContainer {
    background-color: var(--color-fondo-formulario);
    border-radius: 10px 10px 10px 10px;
    color: var(--letras-form);
    padding: 20px;

}

#inputComment{
    resize: none;
}

.btn-contacto-enviar{
    background-color: #8cb9bd;
    padding: 0 3%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.custom-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
  }



